<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description"
    content="Starcraft: Brood War map details and information. {{sanitized_scenario_name}}: {{sanitized_scenario_description}}">
  <meta name="keywords" content="Starcraft, Brood, War, Map, Units, Details, Information">
  <meta property="og:title" content="{{sanitized_scenario_name}}">
  <meta property="og:description" content="{{sanitized_scenario_description}}">
  <meta property="og:image" content="/api/uiv2/minimap/{{map_id}}">
  <meta property="og:type" content="website">

  <title>{{sanitized_scenario_name}} - scmscx.com</title>

  {{> header.hbs }}
</head>

{{> body.hbs }}

</html>
